<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>Vaya , parece que el producto que estas buscando no existe. Deseas agregar uno?</div>
    <form action="/agregar" method="POST">
        Nombre: <input type="text" name="nombre">
        Precio : <input type="text" name="precio">
        Descripcion : <input type="text" name="descripcion">
        Disponible: <input type="text"  name="disponible">
        Categoria: <input type="text"  name="pepe">
        <input type="submit" value="Enviar">
        
    </form>
</body>
</html>